<div class="sidenav">
   <div class="login-main-text">
      <h1>Course Management System</h1>
      <h3 style="font-weight: 200;">Login from here to access.</h3>
   </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">

         <form [formGroup]="dataFormLogin" (ngSubmit)="onSubmit()">
            <div class="form-group">
               <label>User Name</label>
               <input formControlName="username" type="text" class="form-control" placeholder="User Name">
            </div>
            <div class="form-group">
               <label>Password</label>
               <input formControlName="password" type="password" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
               <div class="login_alert" style="color: red;"></div>
            </div>
            <button type="submit" class="btn btn-black" (click)="autentication()"
               [disabled]="!dataFormLogin.valid">Login</button>
         </form>

      </div>
   </div>
</div>