.customUserPid{
    flex: 0 0 150px;
}

.customUserNick{
    flex: 0 0 100px;
}

.customUserGender{
    flex: 0 0 100px;
}
.customUserVType{
    flex: 0 0 150px;
}
.customUserUpdate{
    flex: 0 0 150px;

}
.customUserEdit{
    flex: 0 0 110px;
}

mat-table{
    min-width: 1300px;
}