<div class="card col-md-12" *ngIf="isSubmitMember" style="margin:0 auto;padding: unset;">
  <div class="card-header">
    <strong>Members</strong>
  </div>
  <div class="card-body">

    <!-- <input (keyup)="applyFilter($event.target.value)" placeholder="ค้นหา" class="form-control"> -->
    <div class="input-group _search" style="margin: 10px 0px 10px 0px;">
      <input (keyup)="applyFilter($event.target.value)" id="box_search" maxlength="200" class="form-control" size="20"
        placeholder="Search" type="text">
      <span class="input-group-btn">
        <button class="btn btn-primary" (click)="displayAddmember()" type="button">
          Add Member
        </button>
      </span>
    </div>
    <div style="overflow: auto;">
      <mat-table #MatSortUser="matSort" [dataSource]="dataSource" matSort>
        <!-- 'username', 'name', 'nickname', 'birthday', 'gender', 'type', 'updatedate', 'editby', 'edit' -->
        <ng-container matColumnDef="username">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserPid head_'"> <strong>Username
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserPid'"> {{row.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserName head_'"> <strong>Name
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserName'"> {{row.firstname+" "+row.lastname}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="nickname">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserNick head_'"> <strong>NickName
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserNick'"> {{row.nickname}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="birthday">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserBday head_'"> <strong>birthday
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserBday'"> {{row.birthday}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="gender">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUsergender head_'"> <strong>Gender
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUsergender'"> {{row.gender_name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserVType head_'"><strong>
              Type
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserVType'"> {{row.type_name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedate">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserUpdate head_'"><strong>
              Last update date </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserUpdate'"> {{row.update_datetime }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="editby">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserEditby head_'"><strong>
              Last update user </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserEditby'"> {{row.update_user_id }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserEdit head_'"><strong> Edit | Delete
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserEdit'"> <span style="cursor: pointer;"
              (click)="editMaster(row)"><i
                class="fa fa-pencil"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
              style="cursor: pointer;" (click)="deleteMaster(row.id)"><i class="fa fa-trash-o"></i></span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>
    <mat-paginator #MatPaginatorUser [pageSizeOptions]="[10, 15, 25, 100]" showFirstLastButtons></mat-paginator>

  </div>
</div>
<!-- MEMBER -->
<form [formGroup]="profileFormMember" (ngSubmit)="onSubmitMember()" *ngIf="isAddmember" style="margin:0 auto;">

  <div class="card">
    <div class="card-header">
      <strong *ngIf="isInsertMember">Add Member</strong>
      <strong *ngIf="isEditMember">Edit Member</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="image">Profile Picture<span *ngIf="!profileFormMember.value.image" style="color: red"> *
          </span></label>
        <div class="row">
          <div class="col-12 col-sm-2" style="margin:0 auto;margin-bottom:50px;">
            <div class="img-preview preview-lg"
              style="width: 150px; height: 150px; float:right; margin-top:10px; margin-right:40px; ">
              <!-- <img src="assets/img/avatars/user.png" style="display: block; width: 150px; height: 150px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; margin-left: 3.8132px; margin-top:5px; transform: none;"> -->
              <img [src]="filePreviewPath"
                style="display: block; width: 150px; height: 150px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; margin-left: 3.8132px; margin-top:5px; transform: none;" />

              <div id="fileSelector">
                <input type="file" accept="image/*" name="fileUplaod" id="fileUpload" ng2FileSelect
                  [uploader]="uploader">
                <input type="hidden" value="" formControlName="image" required>

              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="row uploadList col-sm-10" *ngFor="let item of uploader.queue" style="margin:0 auto;">
            <div class="col-sm-4" style="text-align:right">{{item.file.name}}</div>
            <div class="col-sm-4">
              <div class="progress">
                <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress+'%'}"></div>
              </div>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
              <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group" *ngIf="!isEditMember">
        <label for="username">Username<span *ngIf="!profileFormMember.value.username " style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="username" placeholder="" formControlName="username" required>
      </div>
      <input type="hidden" class="form-control" *ngIf="!isInsertMember" id="username" placeholder=""
        formControlName="username" required>
      <span class="username_alert" style="color: red"></span>

      <div class="form-group" *ngIf="isInsertMember">
        <label for="password">Password<span *ngIf="!profileFormMember.value.password" style="color: red"> *
          </span></label>
        <input type="password" class="form-control" id="password" placeholder="" formControlName="password" required>
      </div>
      <div class="form-group" *ngIf="isInsertMember">
        <label for="repassword">Confirm Password<span *ngIf="!profileFormMember.value.repassword" style="color: red"> *
          </span></label>
        <input type="password" class="form-control" id="repassword" placeholder="" formControlName="repassword"
          required>
        <span class="repassword_alert" style="color: red"></span>
      </div>
      <div class="form-group" *ngIf="isEditMember">
        <label for="user_id">ID</label>
        <input type="text" class="form-control" id="user_id" placeholder="" formControlName="id">
      </div>
      <div class="form-group">
        <label for="type">Membership Type<span *ngIf="!profileFormMember.value.type" style="color: red"> *
          </span></label>
        <!-- <input type="text" class="form-control" id="type" placeholder="ประเภทสมาชิก" formControlName="type" required> -->
        <select2 style="padding:unset;height:unset;" [data]="select2UserGroup" [width]="none"
          [value]="profileFormMember.value.type" name="type" (valueChanged)="updateSelectGroup($event)"></select2>
        <input type="hidden" value="" formControlName="type" required>
      </div>
      <div class="form-group">
        <label for="user_prename">Prefix Name<span *ngIf="!profileFormMember.value.prename" style="color: red"> *
          </span></label>
        <input type="hidden" class="form-control" id="prename" placeholder="">
        <select2 style="padding:unset;height:unset;" [data]="select2PrefixnameActive" [width]="none"
          [value]="profileFormMember.value.prename" name="user_prename" (valueChanged)="updateSelectPrename($event)">
        </select2>
        <input type="hidden" value="" formControlName="prename" required>

      </div>
      <div class="form-group">
        <label for="type">Gender<span *ngIf="!profileFormMember.value.gender" style="color: red"> * </span></label>
        <!-- <input type="text" class="form-control" id="type" placeholder="ประเภทสมาชิก" formControlName="type" required> -->
        <select2 style="padding:unset;height:unset;" [data]="select2UserGender" [width]="none"
          [value]="profileFormMember.value.gender" name="type" (valueChanged)="updateSelectGender($event)"></select2>
        <input type="hidden" value="" formControlName="gender" required>
      </div>
      <div class="form-group">
        <label for="user_firstname">Firstname<span *ngIf="!profileFormMember.value.firstname" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="user_firstname" placeholder="" formControlName="firstname" required>
      </div>
      <div class="form-group">
        <label for="lastname">Lastname<span *ngIf="!profileFormMember.value.lastname" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="user_lastname" placeholder="" formControlName="lastname" required>
      </div>
      <div class="form-group">
        <label for="nickname">Nickname<span *ngIf="!profileFormMember.value.nickname" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="nickname" placeholder="" formControlName="nickname" required>
      </div>


      <div class="form-group">
        <label for="type">Brithday<span *ngIf="!profileFormMember.value.gender" style="color: red"> * </span></label>
        <mat-form-field class="input-group" (click)="picker.open()">
          <span class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
          <input type="text" formControlName="birthday" class="form-control" matInput [matDatepicker]="picker"
            [max]="maxDate" placeholder="" (dateInput)="addEvent('input', $event)"
            (dateChange)="addEvent('change', $event)" style="border: 1px solid #e6e6e6;padding: 2px 10px;">
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div class="form-group">
        <label for="email_addr">Email<span *ngIf="!profileFormMember.value.email" style="color: red"> *
          </span></label>
        <input type="email" class="form-control" id="email" placeholder="" formControlName="email" required>
        <span class="email_alert" style="color: red"></span>

      </div>
      <div class="form-group">
        <label for="pid">Permission</label>
        <div class="col-md-9 col-form-label">
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-checkbox1" type="checkbox" formControlName="view">
            <label class="form-check-label" for="inline-checkbox1">View</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-checkbox2" type="checkbox" formControlName="edit">
            <label class="form-check-label" for="inline-checkbox2">Add / Edit</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-checkbox3" type="checkbox" formControlName="del">
            <label class="form-check-label" for="inline-checkbox3">Delete</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="facebook">FACEBOOK</label>
        <input type="text" class="form-control" id="facebook" placeholder="" formControlName="facebook">
      </div>
      <div class="form-group">
        <label for="line">LINE ID</label>
        <input type="text" class="form-control" id="line" placeholder="" formControlName="line">
      </div>

      <div style="text-align: center;">
        <button type="submit" [disabled]="!profileFormMember.valid" class="btn btn-primary"
          *ngIf="isInsertMember">Save</button>

        <button type="button" [disabled]="!profileFormMember.valid" (click)="submitEditMember()" class="btn btn-primary"
          *ngIf="isEditMember">Edit</button>
        <button (click)="createUserGroup()" class="btn btn-danger">Cancel</button>

      </div>
    </div>
  </div>

</form>