<div class="card" *ngIf="isSubmitMember">
  <div class="card-header">
    <button class="btn btn-primary" (click)="editMaster(currentUser)" style="float: right;">Edit Profile</button>
    <strong>Profile</strong>
  </div>
  <div class="card-body">
    <div class="form-group col-sm-3" style="float: left;padding: 50px;min-width: 370px;">
      <div class="row">
        <div>
          <div class="img-preview preview-lg editprofile">
            <img style="width: 100%" [src]="currentUser.image"/>
          </div>

        </div>

      </div>
    </div>
    <div style="float: left;" class="col-sm-9 ">
      <div class="form-group">
        <label for="type"><strong>Name:</strong> {{currentUser.firstname}} {{currentUser.lastname}} </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Nickname:</strong> {{currentUser.nickname}} </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Birthday:</strong> {{currentUser.birthday | date:'MMM d, y'}} </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Gender:</strong> {{currentUser.gender_name}} ({{currentUser.gender_name_th}}) </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Username:</strong> {{currentUser.username}} </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Membership Type:</strong> {{currentUser.type_name}}
          ({{currentUser.type_name_th}})</label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Email:</strong> {{currentUser.email}} </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Facebook:</strong> {{currentUser.facebook}} </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Line:</strong> {{currentUser.line}} </label>
      </div>
      <div class="form-group">
        <label for="type"><strong>Permission: View:</strong>
          <span *ngIf="currentUser.view==1"> Yes </span><span *ngIf="currentUser.view==0"> No </span>
          <strong>Add/Edit:</strong> <span *ngIf="currentUser.edit==1"> Yes </span><span *ngIf="currentUser.edit==0"> No
          </span>
          <strong>Delete:</strong><span *ngIf="currentUser.del==1"> Yes </span><span *ngIf="currentUser.del==0"> No
          </span> </label>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="profileFormMember" (ngSubmit)="onSubmitMember()" *ngIf="isAddmember" style="margin:0 auto;">

  <div class="card">
    <div class="card-header">
      <strong *ngIf="isInsertMember">Add Member</strong>
      <strong *ngIf="isEditMember">Edit Member</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="image">Profile Picture<span *ngIf="!profileFormMember.value.image" style="color: red"> *
          </span></label>
        <div class="row">
          <div class="col-12 col-sm-2" style="margin:0 auto;margin-bottom:50px;">
            <div class="img-preview preview-lg"
              style="width: 150px; height: 150px; float:right; margin-top:10px; margin-right:40px; ">
              <img [src]="filePreviewPath"
                style="display: block; width: 150px; height: 150px; min-width: 0px !important; min-height: 0px !important; max-width: none !important; max-height: none !important; margin-left: 3.8132px; margin-top:5px; transform: none;" />

              <div id="fileSelector">
                <input type="file" accept="image/*" name="fileUplaod" id="fileUpload" ng2FileSelect
                  [uploader]="uploader">
                <input type="hidden" value="" formControlName="image" required>

              </div>
            </div>
          </div>
        </div>
        <div>
          <div class="row uploadList col-sm-10" *ngFor="let item of uploader.queue" style="margin:0 auto;">
            <div class="col-sm-4" style="text-align:right">{{item.file.name}}</div>
            <div class="col-sm-4">
              <div class="progress">
                <div class="progress-bar bg-success" [ngStyle]="{'width':item.progress+'%'}"></div>
              </div>
            </div>
            <div class="col-sm-2">
              <button type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
              <button type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" *ngIf="currentUser.type >= 3">
        <label for="type">Membership Type<span *ngIf="!profileFormMember.value.type" style="color: red"> *
          </span></label>
        <select2 style="padding:unset;height:unset;" [data]="select2UserGroup" [width]="none"
          [value]="profileFormMember.value.type" name="type" (valueChanged)="updateSelectGroup($event)"></select2>
        <input type="hidden" value="" formControlName="type" required>
      </div>
      <div class="form-group">
        <label for="user_prename">Prefix Name<span *ngIf="!profileFormMember.value.prename" style="color: red"> *
          </span></label>
        <input type="hidden" class="form-control" id="user_prename" placeholder="" >
        <select2 style="padding:unset;height:unset;" [data]="select2PrefixnameActive" [width]="none"
          [value]="profileFormMember.value.prename" name="user_prename"
          (valueChanged)="updateSelectPrename($event)"></select2>
        <input type="hidden" value="" formControlName="prename" required>

      </div>
      <div class="form-group">
        <label for="type">Gender<span *ngIf="!profileFormMember.value.gender" style="color: red"> * </span></label>
        <select2 style="padding:unset;height:unset;" [data]="select2UserGender" [width]="none"
          [value]="profileFormMember.value.gender" name="type" (valueChanged)="updateSelectGender($event)"></select2>
        <input type="hidden" value="" formControlName="gender" required>
      </div>
      <div class="form-group">
        <label for="user_firstname">Firstname<span *ngIf="!profileFormMember.value.firstname" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="user_firstname" placeholder="" formControlName="firstname" required>
      </div>
      <div class="form-group">
        <label for="lastname">Lastname<span *ngIf="!profileFormMember.value.lastname" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="user_lastname" placeholder="" formControlName="lastname" required>
      </div>
      <div class="form-group">
        <label for="nickname">Nickname<span *ngIf="!profileFormMember.value.nickname" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="nickname" placeholder="" formControlName="nickname" required>
      </div>


      <div class="form-group">
        <label for="type">Brithday<span *ngIf="!profileFormMember.value.gender" style="color: red"> * </span></label>
        <mat-form-field class="input-group" (click)="picker.open()">
          <span class="input-group-prepend">
            <span class="input-group-text">
              <i class="fa fa-calendar"></i>
            </span>
          </span>
          <input type="text" formControlName="birthday" class="form-control" matInput [matDatepicker]="picker"
            [max]="maxDate" placeholder="" (dateInput)="addEvent('input', $event)"
            (dateChange)="addEvent('change', $event)" style="border: 1px solid #e6e6e6;padding: 2px 10px;">
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

      </div>
      <div class="form-group">
        <label for="email_addr">Email<span *ngIf="!profileFormMember.value.email" style="color: red"> *
          </span></label>
        <input type="email" class="form-control" id="email" placeholder="" formControlName="email" required>
        <span class="email_alert" style="color: red"></span>

      </div>
      <div class="form-group" *ngIf="currentUser.type >= 3">
        <label for="pid">Permission</label>
        <div class="col-md-9 col-form-label">
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-checkbox1" type="checkbox" formControlName="view">
            <label class="form-check-label" for="inline-checkbox1">View</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-checkbox2" type="checkbox" formControlName="edit">
            <label class="form-check-label" for="inline-checkbox2">Add / Edit</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" id="inline-checkbox3" type="checkbox" formControlName="del">
            <label class="form-check-label" for="inline-checkbox3">Delete</label>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="facebook">FACEBOOK</label>
        <input type="text" class="form-control" id="facebook" placeholder="" formControlName="facebook">
      </div>
      <div class="form-group">
        <label for="line">LINE ID</label>
        <input type="text" class="form-control" id="line" placeholder="" formControlName="line">
      </div>

      <div style="text-align: center;">
        <button type="submit" [disabled]="!profileFormMember.valid" class="btn btn-primary"
          *ngIf="isInsertMember">Save</button>

        <button type="button" [disabled]="!profileFormMember.valid" (click)="submitEditMember()" class="btn btn-primary"
          *ngIf="isEditMember">Edit</button>
        <button (click)="createUserGroup()" class="btn btn-danger">Cancel</button>

      </div>
    </div>
  </div>

</form>