<h2 mat-dialog-title>Alert</h2>
<mat-dialog-content class="mat-typography">
  <!-- <div class="img {{bgclass}}"><i class="fa fa-question" aria-hidden="true"></i></div> -->
  <div class="img {{data.bgclass}}"><i class="fa fa-{{data.bgclass}}" aria-hidden="true"></i></div>
  <div class="message"> {{data.title}} </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-danger" mat-button mat-dialog-close>ยกเลิก</button>
  <button class="btn btn-primary" mat-button [mat-dialog-close]="data" cdkFocusInitial>ตกลง</button>
</mat-dialog-actions>
