<div class="animated fadeIn">
  <div class="row col-sm-12" style="margin: 0 auto;">
    <div class="col-sm-6 col-lg-3" *ngIf="showCreateMember" (click)="goto('createmembers');">
      <div class="card-body item ">
        <div class="imageicon member"><i class="fa fa-user-plus font-2xl d-block mt-4" style="color:#676767;"></i></div>
        <span class="texts d-block">Create Members</span>
      </div>
    </div>	
    <div class="col-sm-6 col-lg-3" *ngIf="showEditProfile" (click)="goto('profile');">
      <div class="card-body item ">
        <div class="imageicon member"><i class="fa fa-address-book-o font-2xl d-block mt-4" style="color:#676767;"></i></div>
        <span class="texts d-block">Edit Profile</span>
      </div>
    </div>
    <div class="col-sm-6 col-lg-3" *ngIf="showCreateCourse" (click)="goto('createcourses');">
      <div class="card-body item ">
        <div class="imageicon member"><i class="fa fa-book font-2xl d-block mt-4" style="color:#676767;"></i></div>
        <span class="texts d-block">Create Course</span>
      </div>
    </div>
    
    <div class="col-sm-6 col-lg-3" *ngIf="showViewCourse" (click)="goto('viewcourse');">
      <div class="card-body item ">
        <div class="imageicon screen"><i class="fa fa-search font-2xl d-block mt-4" style="color:#676767;"></i></div>
        <span class="texts d-block">View Course</span>
      </div>
    </div>
    
  </div>

</div>