.customCourseID{
    flex: 0 0 100px;
}

.customStarttime{
    flex: 0 0 100px;
}

.customEndtime{
    flex: 0 0 100px;
}

.customStudent{
    flex: 0 0 100px;
}

mat-table{
    min-width: 1300px;
}

.card-body{
    overflow: auto;
}

.customUserEdit{
    flex: 0 0 110px;
}
