<div class="card col-md-12" *ngIf="isSubmitCourse" style="margin:0 auto;padding: unset;">
  <div class="card-header">
    <strong>Courses</strong>
  </div>
  <div class="card-body">

    <div class="input-group _search" style="margin: 10px 0px 10px 0px;">
      <input (keyup)="applyFilter($event.target.value)" id="box_search" maxlength="200" class="form-control" size="20"
        placeholder="Search" type="text">
      <span class="input-group-btn">
        <button class="btn btn-primary" (click)="displayAddcourse()" type="button">
          Add Course
        </button>
      </span>
    </div>

    <div style="overflow: auto;">

      <mat-table #MatSortUser="matSort" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="courses_id">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCourseID head_'"> <strong>Course ID
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customCourseID'"> {{row.courses_id}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCourseName head_'"> <strong>Name
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customCourseName'"> {{row.name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customDescription head_'"> <strong>Description
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customDescription'"> {{row.description}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="category">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customCategory head_'"> <strong>Category
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customCategory'"> {{row.category_name}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="subject">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customSubject head_'"> <strong>Subject
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customSubject'"> {{row.subject}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="day">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customDay head_'"> <strong>Day
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customDay'"> {{row.date}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="starttime">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customStarttime head_'"><strong>
              Start Time
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customStarttime'"> {{row.starttime}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="endtime">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customEndtime head_'"><strong>
              End Time </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customEndtime'"> {{row.endtime }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="number_student">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customStudent head_'"><strong>
              Student </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customStudent'"> {{row.number_student }}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="edit">
          <mat-header-cell *matHeaderCellDef mat-sort-header [ngClass]="'customUserEdit head_'"><strong> Edit | Delete
            </strong></mat-header-cell>
          <mat-cell *matCellDef="let row" [ngClass]="'customUserEdit'"> <span style="cursor: pointer;"
              (click)="editCourse(row)"><i
                class="fa fa-pencil"></i></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
              style="cursor: pointer;" (click)="deleteCourse(row.courses_id)"><i class="fa fa-trash-o"></i></span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
    </div>

    <mat-paginator #MatPaginatorUser [pageSizeOptions]="[10, 15, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
<!-- MEMBER -->
<form [formGroup]="profileFormCourses" (ngSubmit)="onSubmitMember()" *ngIf="isAddcourse" style="margin:0 auto;">

  <div class="card">
    <div class="card-header">
      <strong *ngIf="isInsertCourse">Add Course</strong>
      <strong *ngIf="isEditCourse">Edit Course</strong>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="courses_id">Course ID<span *ngIf="!profileFormCourses.value.courses_id " style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="courses_id" placeholder="" formControlName="courses_id" required (focusout)="checkIDCourse($event)">
      </div>
      <div class="course_alert" style="color: red"></div>

      <div class="form-group">
        <label for="name">Course Name<span *ngIf="!profileFormCourses.value.name" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="name" placeholder="" formControlName="name" required (focusout)="checkNameCourse($event)">
      </div>
      <div class="name_alert" style="color: red"></div>


      <div class="form-group">
        <label for="description">Description<span *ngIf="!profileFormCourses.value.description" style="color: red"> *
          </span></label>
        <textarea class="form-control" formControlName="description"></textarea>
        <div class="description_alert" style="color: red"></div>
      </div>

      <div class="form-group">
        <label for="type">Category<span *ngIf="!profileFormCourses.value.category" style="color: red"> *
          </span></label>
        <select2 style="padding:unset;height:unset;" [data]="select2CourseCategory" [width]="none"
          [value]="profileFormCourses.value.category" name="category" (valueChanged)="updateSelectCategory($event)">
        </select2>
        <input type="hidden" value="" formControlName="category" required>
      </div>

      <div class="form-group">
        <label for="subject">Subject<span *ngIf="!profileFormCourses.value.subject" style="color: red"> *
          </span></label>
        <input type="text" class="form-control" id="subject" placeholder="" formControlName="subject" required>
      </div>

      <div class="form-group" *ngIf="isDay">
        <label for="starttime">Start Time<span *ngIf="!profileFormCourses.value.starttime" style="color: red"> *
          </span></label>
        <input type="time" class="form-control" id="starttime" placeholder="" [ngxTimepicker]="fullTime_start"
          [format]="24" readonly formControlName="starttime" required>
        <ngx-material-timepicker #fullTime_start [enableKeyboardInput]="true"></ngx-material-timepicker>

      </div>

      <div class="form-group" *ngIf="isStarttime">
        <label for="endtime">End Time<span *ngIf="!profileFormCourses.value.endtime" style="color: red"> *
          </span></label>
        <input type="time" class="form-control" id="endtime" placeholder="" [ngxTimepicker]="fullTime_end" [format]="24"
          readonly formControlName="endtime" required>
        <ngx-material-timepicker #fullTime_end [enableKeyboardInput]="true"></ngx-material-timepicker>
      </div>

      <div class="form-group">
        <label for="number_student">Number Students<span *ngIf="!profileFormCourses.value.number_student"
            style="color: red"> *
          </span></label>
        <input type="number" class="form-control" id="number_student" placeholder="" formControlName="number_student"
          required>
      </div>


      <div style="text-align: center;">
        <button type="submit" [disabled]="!profileFormCourses.valid" class="btn btn-primary"
          *ngIf="isInsertCourse">Save</button>

        <button type="button" [disabled]="!profileFormCourses.valid" (click)="submitEditCourse()"
          class="btn btn-primary" *ngIf="isEditCourse">Edit</button>
        <button (click)="createCourse()" class="btn btn-danger">Cancel</button>

      </div>
    </div>
  </div>

</form>