// Here you can add other styles
@import '~open-iconic/font/css/open-iconic-bootstrap.css';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700|Trirong:100,200,300,400,500,600');
.loginForm{
    font-family: 'Trirong','Roboto',serif;
    // font-family: 'Roboto', sans-serif;

}
.ca-events-0{
    background-color: rgb(253, 241, 186);
    border-color: rgb(227, 188, 8);
    touch-action: pan-y;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.app-header .nav-item .nav-link > .img-avatar, .app-header .nav-item .avatar.nav-link > img{
    width: 35px!important;
}

.editprofile{    
    
    width: 100%;
    border: 2px #eaeaea;
    border-style: dashed;
    border-radius: 10px;
    padding: 2px;
}

.mat-form-field-infix{
    border: unset;
}

.mat-form-field-underline.ng-tns-c3-0.ng-star-inserted{
    display: none;
    background: #FFF;
}

.mat-form-field-appearance-legacy .mat-form-field-underline{
    display: none;

}

.cal-event{
    color: #581809!important;
}

.cal-event.ng-star-inserted{
    color: #581809!important;

}

.cal-week-view .cal-header.cal-today{
    background-color: #e1e1e1!important;

}

.mat-form-field-infix{
    display: inline-flex!important;

}

.row.uploadList.col-sm-10 > div.col-sm-2{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-inline-box;
}
.card-header, li.breadcrumb-item, .btn{
    font-size: 16px!important;
}
tr > td > label{
    margin: 0px 10px;
}
.form-control{
    margin:5px;
    font-size: 16px;
}
.app, app-dashboard, app-root, body{
    font-size: 16px;
}
.sidebar .nav-dropdown-items a{
    padding-left: 30px;
}

h3 {
    margin: 0 0 10px;
  }
  
  pre {
    background-color: #f5f5f5;
    padding: 15px;
  }

.sidebar-minimized .sidebar .nav-link:hover{
    width: 300px;
    background: #d0d0d0;
}
.sidebar .sidebar-minimizer{
    background: #000;
}

.sidebar .nav-link.active{
    color: #000;
    background: #d0d0d0;
    // font-weight: bold;
}
.sidebar .nav-link.active .nav-icon{
    color: #000;
    font-weight: bold;
}

.sidebar-minimized .sidebar .sidebar-minimizer{
    background: #000;
}

app-sidebar-nav-items{
    background: #000000;
}

.loginForm .text-muted{
    font-size: 15px;
}
.select2-container .select2-selection--single{
    height: 33px!important;
}

.select2.select2-container,
.select2-container--default,
.select2-container--below,
.select2-container--focus,
.select2-container--open{
    width: 100%!important;
}

.select2-container--default.select2-container--focus,
.select2-selection--multiple{
    // border: unset!important;
    border-color: #e4e7ea!important;

}

.select2-container--default,
.select2-selection--single,
.select2-selection__rendered{
    // line-height: 32px!important;
    color: #5c6873;
    background-color: #fff;
    border-color: #e4e7ea!important;
    border-radius: 0.25rem;


}
fieldset.scheduler-border {
    border-width: 1px 1px 1px 1px;
    border-style: solid  !important;
    border-color: #e4e7ea;
    border-radius: 5px;
    padding: 0 1.4em 1.4em 1.4em !important;
    -webkit-box-shadow:  0px 0px 0px 0px#e4e7ea;
            box-shadow:  0px 0px 0px 0px #e4e7ea;
}

legend.scheduler-border {
    font-size: 1.1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: unset;
    padding-left: 5px;
}

.form-check-inline{
    min-width: 200px !important;
}

.table.table-bordered .form-check-inline{
    min-width: unset !important;
}

.knowledge .form-check-inline{
    min-width: unset !important;
}

.form-check-inline > label{
    padding-right: 10px;
    padding-left: 10px;
}

.form-check-label{
    min-width: fit-content;
}

.help-block{
    color: #ab0000;
    font-size: 16px;
    font-weight: bold;
}

label.title{
    font-weight: bold;
    text-align: right;
}

.custom-dialog-container .mat-dialog-container {
    overflow-y: hidden;
}
.cdk-global-scrollblock{
    top:0!important;
}


// .col-md-2.col-form-label,
// .col-md-4.col-form-label{
//     text-align: right;
// }
.item{
    border: #e1e1e1 1px solid;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
    margin-bottom: 20px;
}
.item:hover{
   
    background: #f3f3f3;
  
}
.item .imageicon.job > i{
    color: #b90000 !important;
}

.item .imageicon.admin > i{
    color: #009913!important;
}
.item .imageicon.knowledge > i{
    color: #88008a !important;
}
.item .imageicon.org > i{
    color: #0018a9!important;
}

.item .imageicon{
    text-align: center;
    line-height: 36px;
}

.item .imageicon > i{
    font-size: 2.5rem !important;
    // font-weight: bold;
}

.item .texts{
    text-align: center;
    line-height: 36px;
    font-weight: 500;
}

agm-map {
    height: 300px;
  }
  
  
  a {
    color: darkblue;
  }


  .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  }
  
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  .fa{
    font-size: 20px!important;
  }
  button.btn.btn-xs i.fa{
    font-size: 18px;
  }
//   .mat-table {
//     // overflow: auto;
//     // max-height: 500px;
//   }
  .sidebar .nav {
    width: 300px;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
}
  .sidebar .sidebar-nav {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    width: 300px;
}
html:not([dir="rtl"]) .sidebar {
    margin-left: -300px;
}

.brother_div{
    display: none;
}

.app-header .navbar-brand {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 55px;
    padding: 0;
    margin-right: 0;
    background-color: transparent;
}

mat-cell:last-of-type, mat-footer-cell:last-of-type, mat-header-cell:last-of-type {
    padding-right:0px!important;
    text-align: center;

}
mat-cell:first-of-type, mat-footer-cell:first-of-type, mat-header-cell:first-of-type{
    padding-left:0px!important;
    text-align: center;
}

.main .container-fluid{
    padding: 0px 15pxl;
}
  @media (min-width: 992px){
    .sidebar-fixed .sidebar {
        position: fixed;
        z-index: 1019;
        width: 300px;
        height: 100vh;
    }
  }

  @media (max-width: 991.98px){
    .app-header .navbar-brand {
        position: absolute;
        top: 0;
        left: 18%!important;
        margin-left: -77.5px;
        z-index: -1;
    }
  }

  @media (min-width: 992px){
    

    .sidebar-fixed .sidebar {
        position: fixed;
        z-index: 1019;
        width: 300px;
        height: 100vh;
    }

    html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-lg-show.sidebar-fixed .app-footer, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer{
        margin-left: 300px;
    }
}


@media (max-width: 991.98px){
.sidebar {
    position: fixed;
    z-index: 1019;
    width: 300px;
    height: calc(100vh - 55px);
}
}

.mat-header-cell,
.mat-cell{
    font-size: 16px;
}
.card-header,
li.breadcrumb-item,
.btn{
    font-size: 19px;
}
.customUserPid{
    flex: 0 0 15%;
}

.customOrgId{
    flex: 0 0 60px;
}
.customOrgName{
    flex: 0 0 35%;

}
.customOrgType{
    flex: 0 0 30%;

}

.customOrgEdit{
    flex: 0 0 60px;
    text-align: center;
}

.customUserEdit{
    flex: 0 0 10%;
}

.customUserGroupkey{
    flex: 0 0 15%;
}

.customUserBirthday{
    flex: 0 0 10%;
}

.customUserAge{
    flex: 0 0 10%;
}

.customUserName{
    flex: 0 0 20%;
}
.customUserAddress{
    flex: 0 0 35%;
}

.customUserAddressCare{
    flex: 0 0 49%;
}
.customUserAddressCareAdd {
    flex: 0 0 59%;
}
.customUserType{
    flex: 0 0 60%;
}

.customOrgTypeName{
    flex: 0 0 55%;
}

.customUserGroupid{
    flex: 0 0 15%;
    text-align: center;
}

.hidediv{
    display: none;
}

.showdiv{
    display: block;
}

.uploadList{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.customUserPid_H{
    flex: 0 0 25%;
}


.customUserAdl_H{
    text-align: center;
    flex: 0 0 10%;
}

.customUserName_H{
    flex: 0 0 40%;
}

.customUserEdit_H{
    text-align: center;
    flex: 0 0 5%;
}

.customUserReport_H{
    text-align: center;
    flex: 0 0 5%;
}

.customUserDelete_H{
    flex: 0 0 5%;
    text-align: center;

}

.customUserAge_H{
    flex: 0 0 10%;
    text-align: center;
}

.head_{
    color: #000;
}

.mat-typography .img > i{
    font-size: 50px;
    color: #FFF;
    padding: 10px;
    border-radius: 50px;
}

.mat-typography .img.plus > i{
    background: #4CAF50;   
    padding: 5px 10px; 
}

.mat-typography .img.warning > i{
    background: #dc9325;   
}

.mat-typography .img.trash > i{
    background: #b90000;  
    padding: 5px 10px; 
}

.mat-typography{
    text-align: center;
    display: flex!important;
    line-height: 35px;
    margin: 0 auto!important;
}

.mat-typography .message{
    font-size: 16px;
    padding: 10px;
}

.alert_login{
    float: right;
    color: #ab0000;
    margin: 5px;
    width: max-content;
}
